---
import NavBar from "../components/NavBar.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.webp" />
    <meta
      name="description"
      content="acerca de chatea con el pdf, la revolución en la interacción con tus documentos está aquí. imagina un lector de pdfs que no solo abre tus documentos sino que también conversa contigo sobre su contenido. chatea con el pdf transforma la manera en que interactúas con textos digitales, ofreciéndote una experiencia única y personalizada."
    />
    <title>Chatea con el pdf | Acerca de</title>
  </head>
  <body class="bg-[#202020] text-white">
    <NavBar />

    <div
      class="max-w-[600px] flex flex-col items-center justify-center m-auto p-6 animate-slide-up-fade delay-300"
    >
      <h1 class="text-center text-4xl text-yellow-400 font-bold p-4">
        Acerca de Chatea con el PDf
      </h1>
      <p>
        Chatea con el PDF: La revolución en la interacción con tus documentos
        está aquí. Imagina un lector de PDFs que no solo abre tus documentos
        sino que también conversa contigo sobre su contenido. Chatea con el PDF
        transforma la manera en que interactúas con textos digitales,
        ofreciéndote una experiencia única y personalizada.
      </p>

      <h2 class="text-3xl text-yellow-400 font-bold p-4">
        Caracteristicas Unicas
      </h2>

      <ol>
        <li class="mb-4">
          Conversación Basada en IA: Sube cualquier PDF y nuestra avanzada
          inteligencia artificial te proporcionará respuestas basadas en el
          contenido del documento. Ideal para aclarar dudas, obtener resúmenes
          rápidos o explorar temas específicos sin necesidad de leer todo el
          texto.
        </li>
        <li class="mb-4">
          Interfaz Intuitiva: Diseñada para ser amigable y fácil de usar, te
          permite navegar por tus PDFs y conversar con ellos sin complicaciones.
        </li>
        <li class="mb-4">
          Próximamente, Reconocimiento de Voz: Estamos trabajando para
          incorporar reconocimiento de voz, permitiéndote tanto hacer preguntas
          oralmente como recibir respuestas leídas por nuestro asistente
          virtual. La interacción con tus documentos nunca fue tan dinámica y
          accesible.
        </li>
      </ol>

      <h3 class="text-2xl text-yellow-400 font-bold p-4">Optimiza tu tiempo</h3>
      <p>
        Chatea con el PDF es la herramienta perfecta para estudiantes y
        profesionales buscando maximizar su productividad. Ya sea preparando
        para un examen o buscando información específica para un proyecto de
        trabajo, nuestro lector de PDF inteligente te ayuda a encontrar lo que
        necesitas rápidamente, optimizando tus tiempos de estudio y trabajo.
      </p>

      <h4 class="text-2xl text-yellow-400 font-bold p-4">Para quien es?</h4>
      <p>
        Si eres un estudiante en busca de una manera más eficiente de estudiar o
        un profesional que necesita acceder a información específica sin perder
        tiempo, Chatea con el PDF es tu solución.
      </p>

      <h5 class="text-2xl text-yellow-400 font-bold p-4">
        Prueba la diferencia
      </h5>
      <p>
        Descubre cómo Chatea con el PDF puede cambiar tu forma de interactuar
        con los textos digitales. La combinación de tecnología de punta con una
        interfaz amigable hace de este lector de PDFs una herramienta
        indispensable en tu vida diaria. ¡Prepárate para conversar con tus
        documentos de una manera que nunca imaginaste posible!
      </p>
    </div>
  </body>
</html>
